    @charset "UTF-8";

    body{
            background-attachment: fixed;
            background-color: var(--cor1);
    }

        /* Paletas de cores */
    :root {
            
        --cor1:#424769;
        --cor2:#ffffff;
        --cor3:#ff0000;
        --cor4:#0af502;
        --cor5:#dac50d;

    }

        /* Header*/
    #entrada{
        background: #424769;
        border-radius: 10px;
        margin: 40px auto 10px auto;
        box-shadow: 0px 0px 10px #2c2f46cc;
        color: var(--cor2);
        padding: 10px;
        width: 300px;
    }

    /* Dentro da lista*/
    ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;

    }
    button{
        box-shadow: none;
     outline: none;
    }

    /* Input submit entrar*/
    #entrar{
        background-color: var(--cor5);
        width: 200px;
        height: 40px;
        border-radius: 25px;
            
    }
        
    /* Menssagens depois do registrar*/
    .mensagem{
        background-color:var(--cor2);
        padding: 11px;
        width: 300px;
        height: 38px;
        margin: auto;
        border-radius: 20px;
        display: flex;
        align-items: center;      
        justify-content: center;
        box-shadow: 1px 1px 17px #201244;
            
    }

    /* Menssagem certo*/
    #ResCS{
        color: var(--cor4);
    }

    /* Menssagens erradas*/
    .erro{
        color: var(--cor3);
        font-size: 25px;
    }